.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  background: var(--darkgrey);
  padding-left: 120px;
}

.header-text h1,
.header-text h3 {
  margin: 0;
  color: #fff;
}
.header-text h3 {
  font-weight: 100;
  padding: 10px 0;
}

.header-search {
  display: flex;
  padding-top: 10px;
  height: 40px;
}
.header-search input {
  padding: 0px 10px;
  font-size: 1em;
  border: none;
  height: 100%;
  width: 50vw;
  max-width: 700px;
}
.search-bar {
  background: #fff;
  font-size: 1.4em;
  margin-right: 5px;
}
.search-icon {
  padding: 0px 10px;
  color: var(--titlegrey);
}
.header-search input:focus,
.search-button:focus {
  outline: none;
}
.search-button {
  border: none;
  height: 100%;
  font-size: 1.1em;
  border: 1px solid var(--blue);
  background: var(--blue);
  color: #fff;
  padding: 0;
  width: 120px;
  margin: 0;
  font-weight: 600;
}
.search-button:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  background: var(--darkgrey);
  cursor: pointer;
}

.jumbotron h1 {
  grid-column-start: 1;
  grid-column-end: 2;
  color: #fff;
  font-weight: normal;

  text-align: left;
  margin: 0;
}
