.content {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-container {
  margin: 0px 45px;
  width: 70vw;
}
.content h2 {
  color: var(--blue);
}
.right-side-container {
  width: 30vw;
}
.trending-hr {
  border: 1px solid #e4e5e7;
}
.trending-container {
  display: inline-block;
  background: #f6f6f6;
  padding: 0px 20px;
}
